* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: #000;
  background-size: cover;
  font-family: cursive;
  color: #fff;
}

a {
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

video {
  height: 100%;
  border-left: 5px solid #180e05;
  border-right: 5px solid #180e05;
}

.link {
  font-size: 5rem;
}

.small-link {
  font-size: 1.5rem;
}

.dialog {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(0,0,0,.7);
}

.dialog-content {
  background-color: #fff;
  color: #000;
  position: relative;
  display: flex;
  gap: 15px;
  border: 10px solid #C4DEF8;
}

.dialog-close {
  position: absolute;
  right: 0;
  top: -30px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 4rem;
}

.dialog-content > div:first-of-type {
  display: flex;
  align-items: center;
}

.dialog-content img, .dialog-content a {
  height: 100%;
  width: 100%;
}

button, input {
  font: inherit;
  font-size: 1.5rem;
}

button[type] {
  position: relative;
  left: 40%;
}

.hidden {
  display: none;
}